.after-entry {

    background-color: $after-entry--background-color;
    font-size: rem( $after-entry--font-size );
    margin: 10px 0; /* CAMSKI -> Original: 40px */
    padding: 10px 10px 10px 20px; /* CAMSKI -> Original: 60px */

    @include media( $screen--860 ) {
        padding: 30px;
        margin-bottom: 5%;
    }

}