/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666; /* SKIREV Anterior: No hi havia color; */
    font-family: 'Droid Sans', Lato, sans-serif; /* SKIREV Anterior: font-family: 'Source Sans Pro', sans-serif; */
    font-weight: 400; /* SKIREV Anterior: 600; */
    line-height: 1.2;
}

/* CAMSKI 2017-03-18 */
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px; /* SKIREV Anterior: 0 0 10px; */
}
/* / CAMSKI 2017-03-18 */

h1 {
    font-size: 21px; /* SKIREV Anterior: 36px; */
    font-size: 2.1rem;/* SKIREV Anterior:  3.6rem*/
    margin: 0; /* CAMSKI 2017-03-18 */
    padding: 0 0 5px; /* CAMSKI 2017-03-18 */
}

h2 {
    font-size: 30px; /* SKIREV Anterior: 30px; */
    font-size: 3rem;/* SKIREV Anterior: 3rem */
}

h3 {
    font-size: 24px; /* SKIREV Anterior: 24px; */
    font-size: 2.4rem;/* SKIREV Anterior: 2.4rem */
}

h4 {
    font-size: 14px; /* SKIREV Anterior: 20px; */
    font-size: 1.4rem;/* SKIREV Anterior: 2rem */
}

h5 {
    font-size: 18px; /* SKIREV Anterior: 18px; */
    font-size: 1.8rem;/* SKIREV Anterior: 1.8rem */
}

h6 {
    font-size: 16px; /* SKIREV Anterior: 16px; */
    font-size: 1.6rem;/* SKIREV Anterior: 1.6rem */
}