/* ### Primary Sidebar */

.sidebar-primary {

    float: right;
    width: $primarySidebar__Width;

    @media only screen and (max-width: $_1340) {

        width: $primarySidebar__1340__Width;

    }

    .sidebar-content &,
    .sidebar-sidebar-content & {
        float: left;
    }

}