/* ## Primary Navigation
--------------------------------------------- */

/* SKIREV
.nav-primary {
	background-color: #fff;
	border-top: 1px solid #eee;
}*/

/* SKIREV */
.nav-primary {

    background-color: $primaryNav__BackgroundColor;
    border-top: 1px solid $primaryNav__BorderColor;
    padding-top: 10px;
    padding-bottom: 10px;

    li a {
        color: $primaryNav__LinkColor;
    }

    a:last-of-type {
        padding-right: 0;
    }

}

/* /SKIREV */