.entry-content ul.overview-slopes-colors {

    float: right;
    line-height: $slopes-colors--line-height;
    margin: 6px 10px 6px 0;
    width: 55%;

    @include media( $screen--932 ) {
        width: 63%;
    }

    @include media( $screen--415 ) {
        margin: 10px 20px 10px 10px;
        text-align: right;
        width: 100%;
    }

    @include media( $screen--340 ) {
        margin: 10px 10px 10px 10px;
    }

}

#overview-right-tabs-1 {

    ul.overview-slopes-colors {

        @include media( $screen--1220 ) {
            margin-right: 5px;
            margin-top: 10px;
        }

        @include media( $screen--800 ) {
            margin-top: 10px;
            margin-right: 15px;
        }

        @include media( $screen--568 ) {
            margin-right: 5px;
        }

        @include media( $screen--415 ) {
            margin: 0 20px 0 10px;
        }

        @include media( $screen--340 ) {
            margin: 0 10px 0 10px;
        }

    }

    ul.overview-slopes-colors li.overview-green {
        color: $slopes-green--text-color;
        font-size: rem( $slopes-colors--font-size );
        text-align: right;
    }

    ul.overview-slopes-colors li.overview-blue,
    ul.overview-slopes-colors li.overview-red,
    ul.overview-slopes-colors li.overview-black,
    ul.overview-slopes-colors li.overview-nordic-tracks,
    ul.overview-slopes-colors li.overview-ski-routes,
    ul.overview-slopes-colors li.overview-total-slopes,
    ul.ul-overview-other-slopes li.overview-ski-routes,
    ul.ul-overview-other-slopes li.overview-nordic-tracks {

        font-size: rem( $slopes-colors--font-size );
        text-align: right;

        @include media( $screen--1220 ) {
            font-size: $slopes-colors--font-size--1220;
        }

        @include media( $screen--1220 ) {
            font-size: $slopes-colors--font-size--1024;
        }

        @include media( $screen--800 ) {
            font-size: $slopes-colors--font-size--800;
            line-height: $slopes-colors--line-height--800;
        }

        @include media( $screen--680-max ) {
            font-size: $slopes-colors--font-size--680-max;
        }

        @include media( $screen--568 ) {
            font-size: $slopes-colors--font-size--568;
        }

        @include media( $screen--415 ) {
            margin-left: 10px;
            text-align: right;
        }

        @include media( $screen--340 ) {
            margin-right: 10px;
        }

    }

    ul.overview-slopes-colors li.overview-blue {
        color: $slopes-blue--text-color;
    }

    ul.overview-slopes-colors li.overview-red {
        color: $slopes-red--text-color;
    }

    ul.overview-slopes-colors li.overview-black {
        color: $slopes-black--text-color;
    }

    ul.overview-slopes-colors li.overview-ski-routes,
    ul.ul-overview-other-slopes li.overview-ski-routes {
        clear: both;
        color: $ski-routes--text-color;
        display: inline-block;
        float: right;
    }

    ul.overview-slopes-colors li.overview-nordic-tracks,
    ul.ul-overview-other-slopes li.overview-nordic-tracks {
        clear: both;
        color: $nordic-tracks--text-color;
        display: inline-block;
        float: right;
    }

}

@-moz-document url-prefix() {
    span.double-diamond {
        /*letter-spacing: -4px*/
    }
}

#overview-right-tabs-1 .overview-clear {
    clear: both;
}