/* ## Title Area
--------------------------------------------- */

.title-area {

  float: left;
  padding: 10px 0;
  /* SKIREV width: 360px; */
  width: 300px;

  .header-image & {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px 0; /* SKIREV Anterior: 0; */
  }

  .header-full-width & {
    float: none;
    width: 100%;
  }

}

.site-title {

  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;

  a,
  a:hover,
  a:focus {
    color: #333;
    text-decoration: none;
  }

  /* SKIREV */
  img {
    vertical-align: top;
  }

}

.header-image {

  .site-title > a {
    background-position: center !important;
    background-size: contain !important;
    float: left;
    min-height: 80px;
    width: 100%;
  }

  .site-description,
  .site-title {
    display: block;
    /* SKIREV text-indent: -9999px; */
    text-indent: 0;
  }

}

.site-description {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;
}