//
// Main Entry Article
//==========================================

.content .entry {
    background: url("images/main_bg.png") repeat; // CAMERASKI Anterior: background-color: #fff;
}

.entry {

    background-color: $entry--background-color;
    margin-bottom: 0;
    padding: 5px 10px;

    @include media( $screen--1220 ) {
        // padding: 10px 10px;
    }

    // CAMERASKI -> NO
    @include media( $screen--860 ) {

        padding: 30px;
        margin-bottom: 5%;

    }
    // / CAMERASKI -> NO

    @include media( $screen--800 ) {
        padding: 10px 20px;
    }

}