.archive-description .entry-title,
.archive-title,
.author-box-title {
    font-size: 26px; /* CAMSKI -> Original: 20px */
    font-size: 2.6rem; /* CAMSKI -> Original: 2rem */
    font-weight: bold; /* CAMSKI */
}