/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {

    background: $siteFooter__BackgroundColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top: 1px solid $siteFooter__BorderColor;
    font-size: rem( $siteFooter__FontSize );
    line-height: 1;
    padding: 60px 0;
    text-align: center;

    p {
        margin-bottom: 0;
    }

}