//
// Site Description
//==========================================

.site-description {

    font-size: rem( $site-description--font-size );
    font-weight: 400;
    line-height: 1.5;

    @include media( $screen--1023 ) {

        text-align: center;

    }

}

.site-description,
.site-title {

    margin-bottom: 0;

}