//
// Global Screen Sizes
//==========================================

$_hugeScreen: $max-Width - 1600px;
$_1340: $max-Width - 1340px;
$_1200: $max-Width - 1200px;
$_1023: $max-Width - 1023px;
$_860: $max-Width - 860px;