$white: #fff;
$black: #000;

//
// General
//==========================================
$base__color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

//
// Header
//==========================================
$siteHeader__BackgroundColor: #1E73BE;
$siteTitle__LinkTextColor: #333;

//
// Navigation
//==========================================
$nav__LinkColor: #333;
$nav__HoverColor: #c3251d;
$submenu__LinkBackgroundColor: $white;
$submenu__BorderColor: #eee;

$primaryNav__BackgroundColor: #1E73BE;
$primaryNav__LinkColor: $nav__LinkColor;
$primaryNav__BorderColor: #eee;

$secondaryNav__BackgroundColor: $white;
$secondaryNav__LinkColor: $nav__LinkColor;
$secondaryNav__BorderColor: #eee;

$jsNav__BackgroundColor: $white;
$jsNav__HoverLinkColor: $black;
$jsNav__FocusLinkColor: #c3251d;

$navToggle__BackgroundColor: $white;
$navToggle__TextColor: #333;

$archivePagination__BackgroundColor: $white;
$archivePagination__TextColor: #333;
$archivePagination__HoverBackgroundColor: #c3251d;
$archivePagination__HoverTextColor: $white;

//
// Site Footer
//==========================================
$siteFooter__BackgroundColor: linear-gradient(top, #ffffff, #b5b5b5);
$siteFooter__BorderColor: #eee;
$footerWidgets__BackgroundColor: $white;

//
// Entry Content
//==========================================
$entryFooter__Meta__BorderColor: #eee;
$entry__BackgroundColor: $white;
$entryHeader__BackgroundColor: $white;
$entryHeader__Background: linear-gradient(top, #ffffff, #f6f6f6);
$entryTitle__LinkColor: #333;
$entryTitle__HoverColor: #c3251d;
$entryContent__Code__BackgroundColor: #333;
$entryContent__Code__TextColor: #eee;

//
// Comments
//==========================================
$comment__BackgroundColor: $white;