//
// Device Screen Sizes
//==========================================
$screen-1600: 1600px;
$screen-1440: 1440px;
$screen-1360: 1360px;
$screen-1340: 1340px; // Genesis Sample
$screen-1320: 1320px;
$screen-1280: 1280px;
$screen-1220: 1220px;
$screen-1200: 1200px; // Genesis Sample
$screen-1152: 1152px;
$screen-1080: 1080px;
$screen-1024: 1024px;
$screen-1023: 1023px; // Genesis Sample
$screen-960: 960px;
$screen-932: 932px;
$screen-885: 885px;
$screen-860: 860px; // Genesis Sample
$screen-835: 835px;
$screen-810: 810px;
$screen-800: 800px;
$screen-768: 768px;
$screen-680-min: 680px;
$screen-680-max: 680px;
$screen-568: 568px;
$screen-520: 520px;
$screen-481-min: 481px;
$screen-481-max: 481px;
$screen-430: 430px;
$screen-415: 415px;
$screen-340: 340px;
$screen-320: 320px;