//
// Dimension Variables
//==========================================

// Header Module
$title_Area__Width: 300px;
$siteTitle__MinHeight: 80px;
$headerRight__Width: 800px;
$headerRight__Width_1200: 800px;
$headerRight__LaptopWidth: 620px;

// Footer Module
$footerWidgets__Width: 380px;
$footerWidgets__Width_1340: 340px;
$footerWidgets__Width_1200: 300px;
$footerWidgets__Width_1023: 100%;