/* ## SKIREV - Column Classes
--------------------------------------------- */
.one-half,
.one-fifth,
.one-fourth,
.two-fifths,
.three-fifths,
.four-fifths
.five-fifths {
  background:#ffffff;
  background: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
  background:    -moz-linear-gradient(top, #ffffff, #f6f6f6);
  background:     -ms-linear-gradient(top, #ffffff, #f6f6f6);
  background:      -o-linear-gradient(top, #ffffff, #f6f6f6);
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  float: left;
}

.one-half,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths  {
  margin-left: 0.83333333333333%;
}

.one-half,
.three-sixths,
.two-fourths {
  width: 49.583333333333%;
}

.one-third,
.two-sixths {
  width: 32.777777777778%;
}

.four-sixths,
.two-thirds {
  width: 66.388888888889%;
}

.one-fourth,
.webcams-one-fourth {
  max-width: 24.3%;
}

.three-fourths {
  width: 74.791666666667%;
}

.one-fifth {
  /*width: 19.333333333333%;*/
  width: 27.333333333333%;
}

.two-fifths {
  /*width: 39.5%;*/
  width: 35.5%;
}

.three-fifths {
  /*width: 39.5%;/* SKIREV Anterior: 59.666666666667% */
  width: 35.5%;/* SKIREV Anterior: 59.666666666667% */
}

/*.four-fifths {
	width: 79.833333333333%;
}*/

.one-sixth {
  width: 15.972222222222%;
}

.five-sixths {
  width: 83.194444444444%;
}

.first {
  clear: both;
  margin-left: 0;
}

.first-2 {
  margin-left: 0;
}