/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: none; /* SKIREV Anterior: max-width: 1280px; */
}

.site-inner {
  clear: both;
  /* SKIREV */
  max-width: none;
  /* /SKIREV */
  padding-top: 0; /* SKIREV Anterior: padding-top: 40px; */
  word-wrap: break-word;
}

/* SKIREV Only for FrontPage */
.home .site-inner {
  max-width: none;
  padding-top: 0;
}
/* /SKIREV */

.landing-page .site-inner {
  max-width: 800px;
}