/* ## CAMERASKI - Column Classes
--------------------------------------------- */

.one-half,
.one-fifth,
.one-fourth,
.two-fifths,
.three-fifths,
.four-fifths,
.five-fifths {
    background:#ffffff;
    background: $column-classes--background-color;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    float: left;
}

.one-half,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths  {
    margin-left: 0.83333333333333%;
}

.one-half,
.three-sixths,
.two-fourths {
    width: 49.583333333333%;
}

.one-third,
.two-sixths {
    width: 32.777777777778%;
}

.four-sixths,
.two-thirds {
    width: 66.388888888889%;
}

.one-fourth,
.webcams-one-fourth {
    max-width: 24.3%;
}

.three-fourths {
    width: 74.791666666667%;
}

.one-fifth {

    width: 27.333333333333%;

    @include media( $screen--1220 ) {
        width: 49.583333333333%;
    }

}

.two-fifths {

    text-align: center;
    width: 35.5%;

    @include media( $screen--1220 ) {
        width: 49.583333333333%;
    }

}

.three-fifths {

    width: 35.5%;/* SKIREV Anterior: 59.666666666667% */

    @include media( $screen--1220 ) {
        background: none;
        border-bottom: none;
        box-shadow: none;
        float: left;
        background-color: url("images/main_bg.png") repeat;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

}

/*.four-fifths {
	width: 79.833333333333%;
}*/

.one-sixth {
    width: 15.972222222222%;
}

.five-sixths {
    width: 83.194444444444%;
}

.first {
    clear: both;
    margin-left: 0;
}

.first-2 {
    margin-left: 0;
}

@include media( $screen--1220 ) {

    .four-fifths,
    .five-fifths	{
        background:#ffffff;
        background: $column-classes--background-color;
        border-bottom: 1px solid #d7d7d7;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        float: left;
        width: 49.583333333333%;
    }

    .five-fifths {
        float: left;
        margin-left: 0.83333333333333%;
    }

}

@include media( $screen--960 ) {

    .one-half {
        margin: 0;
        width: 100%;
    }

}

@include media( $screen--800 ) {

    .one-fifth,
    .two-fifths,
    .four-fifths,
    .five-fifths {
        margin-left: 0;
        width: 100%;
    }

}